@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    color-scheme: dark;
    --background: black;
    --primary: white;
    --accent: #a2f624;
    --hover: rgba(255,255,255,.2);
}

body {
    background: var(--background);
    color: var(--primary);
}

.fh-editor {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    font-size: 12px;
    --editor-font: 'Atkinson Hyperlegible Mono', Courier, sans-serif;
    overflow: hidden;
}
.fh-editor-main {
    display: flex; 
    flex-direction: column; 
    flex-grow: 1;
}
.fh-editor-aside {
    display: flex; 
    flex-grow: 1; 
    overflow: hidden;
}

.fh-toolbar *,
.fh-inspector *,
.fh-slides-container *,
.fh-game * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.fh-game *,
.fh-slide-preview-container * {
    animation: none !important;
}
.fh-slide {
    pointer-events: auto;
}

.fh-inputs textarea, .fh-inputs input {
    box-sizing: border-box;
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-family: var(--editor-font);
    outline: none;
    border: 1px solid gray;
}
.fh-inputs textarea:focus, .fh-inputs input:focus {
    border: 1px solid var(--accent);
}

.fh-slides-container {
    color-scheme: initial;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 100%;
    min-height: 100%;
    --preview-size: 70;
    --preview-padding: 15;
    --inset-margin: 20;
    --preview-left-margin: 30;
    --preview-right-margin: 70;
}
.fh-slide-preview-container {
    position: relative;
}
.fh-slide-preview-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(1px * var(--preview-left-margin));
    height: 50%;
    left: 0;
    font-family: var(--editor-font);
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
}
.fh-slide-preview-container label {
    position: absolute;
    left: calc(1px * var(--preview-padding));
    bottom: 0;
    font-family: var(--editor-font);
}
.fh-slide-preview-bg {
    position: relative;
    width: 100%;
    background: var(--primary);
    color: var(--background);
    border: 1px solid gray;
    box-sizing: border-box;
    pointer-events: none;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    overflow: hidden;
}
.fh-slide-preview {
    width: 100%;
    height: 100%;
}
.fh-slide-preview iframe {
    background: var(--accent);
}

.fh-slide-preview-container.selected  {
    background: gray;
}
.focused .fh-slide-preview-container.selected {
    background: var(--accent);
    color: var(--background);
}
.fh-slide-preview-container.dragging,
.fh-slide-preview-container.dragging.selected {
    background: transparent;
}
.dragging .fh-slide-preview {
    background: transparent;
    border-left: 1em solid var(--accent);
}
.dragging .fh-slide-preview * {
    display: none;
}
.dragging label {
    display: none;
}

.fh-toolbar {
    display: flex;
    width: 100%;
    gap: 1.5em;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px dotted gray;
    font-family: var(--editor-font);
}
.fh-toolbar button,
.fh-inspector button,
#help-menu button,
.help-menu-button {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid transparent;
    background: none;
    padding: 0;
    color: inherit;
}
.fh-toolbar button:hover,
.fh-inspector button:hover,
#help-menu button:hover,
.help-menu-button:hover {
    background: var(--hover);
}
.fh-toolbar button:active,
.fh-inspector button:active,
#help-menu button:active,
.help-menu-button:active {
    border-color: gray;
}
.fh-toolbar button:focus,
.fh-inspector button:focus,
#help-menu button:focus,
.help-menu-button:focus {
    outline: none;
    border: 1px solid var(--accent);
}
.fh-toolbar button.selected {
    background: var(--accent);
    color: var(--background);
}

.fh-game-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.fh-game {
    color-scheme: initial;
    background: white;
    color: black;
}
.fh-editor-overlay {
    color-scheme: normal;
    color: var(--background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    --handle-stroke-width: 2;
    --handle-color: gray;
    --focused-handle-color: gray;
    --handle-hover-color: orange;
}
.focused .fh-editor-overlay {
    --focused-handle-color: var(--accent);
    --handle-color: var(--focused-handle-color);
}
.fh-editor-clickzone {
    position: absolute;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.fh-editor-clickzone:hover,
.fh-editor-clickzone.selected {
    border-color: gray;
    background-color: var(--hover);
}
.fh-editor-clickzone:hover::after {
    content: attr(name);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background: var(--primary);
    color: var(--background);
    font-family: var(--editor-font);
}
.fh-element-handle {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: move;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.fh-element-handle * {
    pointer-events: auto;
}
.fh-element-handle path {
    cursor: default;
}
#fh_selection_box {
    position: absolute;
    border: 1px solid var(--accent);
    background-color: rgba(0, 255, 100, .1);
    box-sizing: border-box;
}
#fh_text_box {
    position: absolute;
    border: 1px solid var(--accent);
    box-sizing: border-box;
}

.fh-inspector {
    width: 250px;
    flex-shrink: 0;
    border-left: 1px dotted gray;
    font-family: var(--editor-font);
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}
.fh-inspector textarea, .fh-inspector input {
    width: 100%;
    resize: none;
}
.fh-inspector input[type=checkbox] {
    width: unset;
    float: right;
}
.fh-inspector ul {
    list-style-type: none;
    padding-left: 1.5em;
    word-break: break-all;
}
#fh_folder_container > ul {
    padding-left: 0;
}
.fh-inspector summary:focus {
    border: 1px solid var(--accent);
}
.fh-inspector .file {
    display: flex;
    gap: 5px;
}
.fh-inspector .icon {
    display: block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    background-size: cover;
}
.fh-inspector .file:hover,
.fh-inspector .folder summary:hover {
    background-color: var(--hover);
}

#help-menu a {
    color: var(--accent);
}

#fh_doodle_tooltip {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1em;
    transform: translate(-50%, 0);
    z-index: 2;
    background: var(--background);
    border: 1px dotted gray;
    padding: .75em .5em;
}
#fh_doodle_tooltip input[type=text] {
    width: fit-content;
}
#fh_doodle_tooltip table {
    border-collapse: collapse;
}
#fh_doodle_tooltip td {
    padding: .25em .5em;
}