body, html {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.fh-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fh-element {
    position: absolute;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    will-change: transform;
    pointer-events: auto;
}
.fh-clickzone {
    background: transparent;
    border: 1px solid transparent;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    color: transparent;
    pointer-events: auto;
}
.fh-clickzone:hover {
    border: 1px solid gray;
}
.fh-clickzone:active {
    border: 1px solid greenyellow;
}
.fh-svgload-cover {
    position: absolute;
    inset: 0;
    background: inherit;
}

.fh-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
    pointer-events: none;
}
.fh-slide.open {
    display: block;
}

.hidden {
    display: none;
}